---
title: tools
layout: default
description: Online Tools
header-img: "img/tag-bg.jpg"
---


<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>



<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

			<blockquote><p>自己常用的工具</p></blockquote>
         

         

            <!-- 标签列表 -->
			<div class="one-tag-list">
			  	<span class="fa fa-tag listing-seperator" id="{{ tag[0] }}">
                    <span class="tag-text">信息收集</span>
                </span>
				 	<h4 class="post-subtitle">     
				 		<a href="http://whois.chinaz.com/" target="_blank">whois查询</a>	  
				 	</h4>
				 	<h4 class="post-subtitle">     
				 		<a href="com" target="_blank">吐司工具</a>	  
				 	</h4>
				 	<h4 class="post-subtitle">     
				 		<a href="com" target="_blank">吐司工具</a>	  
				 	</h4>
				 	<h4 class="post-subtitle">     
				 		<a href="com" target="_blank">吐司工具</a>	  
				 	</h4>
				 	<h4 class="post-subtitle">     
				 		<a href="com" target="_blank">吐司工具</a>	  
				 	</h4>
				 	<h4 class="post-subtitle">     
				 		<a href="com" target="_blank">吐司工具</a>	  
				 	</h4>
				 	<h4 class="post-subtitle">     
				 		<a href="com" target="_blank">吐司工具</a>	  
				 	</h4>

				<span class="fa fa-tag listing-seperator" id="{{ tag[0] }}">
                    <span class="tag-text">编码解码</span>
                </span>
				 	<h4 class="post-subtitle">     
				 		<a href="http://tool.chinaz.com/tools/urlencode.aspx" target="_blank">URL编码</a>	  
				 	</h4>
				 	<h4 class="post-subtitle">     
				 		<a href="https://www.toolmao.com/xsstranser" target="_blank">工具猫XSS转换</a>	  
				 	</h4>
				 	<h4 class="post-subtitle">     
				 		<a href="http://xssor.io/" target="_blank">强大XSS转换</a>	  
				 	</h4>
				 	<h4 class="post-subtitle">     
				 		<a href="com" target="_blank">吐司工具</a>	  
				 	</h4>
				 	<h4 class="post-subtitle">     
				 		<a href="com" target="_blank">吐司工具</a>	  
				 	</h4>
				 	<h4 class="post-subtitle">     
				 		<a href="com" target="_blank">吐司工具</a>	  
				 	</h4>
				 	<h4 class="post-subtitle">     
				 		<a href="com" target="_blank">吐司工具</a>	  
				 	</h4>
				 	<h4 class="post-subtitle">     
				 		<a href="com" target="_blank">吐司工具</a>	  
				 	</h4>


				<span class="fa fa-tag listing-seperator" id="{{ tag[0] }}">
                    <span class="tag-text">加密解密</span>
                </span>
				 	<h4 class="post-subtitle">     
				 		<a href="http://tool.chinaz.com/tools/urlencode.aspx" target="_blank">URL编码</a>	  
				 	</h4>
				 	<h4 class="post-subtitle">     
				 		<a href="https://www.toolmao.com/xsstranser" target="_blank">工具猫XSS转换</a>	  
				 	</h4>
				 	<h4 class="post-subtitle">     
				 		<a href="http://xssor.io/" target="_blank">强大XSS转换</a>	  
				 	</h4>
				 	<h4 class="post-subtitle">     
				 		<a href="com" target="_blank">吐司工具</a>	  
				 	</h4>
				 	<h4 class="post-subtitle">     
				 		<a href="com" target="_blank">吐司工具</a>	  
				 	</h4>
				 	<h4 class="post-subtitle">     
				 		<a href="com" target="_blank">吐司工具</a>	  
				 	</h4>
				 	<h4 class="post-subtitle">     
				 		<a href="com" target="_blank">吐司工具</a>	  
				 	</h4>
				 	<h4 class="post-subtitle">     
				 		<a href="com" target="_blank">吐司工具</a>	
临时网盘		https://send.firefox.com/

工具箱			https://tool.lu/


IP查询        http://www.bejson.com/httputil/queryip/


XSS转换          
Xss测试字符串转换工具







				</div>
				<hr>
			</div>

		</div>
	</div>
</div>


