---
title: tools
layout: default
description: Online Tools
header-img: "img/tag-bg.jpg"
---


<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>



<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

			<blockquote><p>自己常用的工具</p></blockquote>
         
            <!-- 标签列表 -->
			<div class="one-tag-list">
			  	<span class="fa fa-tag listing-seperator" id="{{ tag[0] }}">
                    <span class="tag-text">信息收集</span>
                </span>
                	<h5 class="post-subtitle">     
				 		<a href="http://www.yunsee.cn/" target="_blank">&nbsp&nbsp&nbsp&nbsp云悉指纹识别</a>	  
				 	</h5>
                	<h5 class="post-subtitle">     
				 		<a href="http://whois.chinaz.com/" target="_blank">&nbsp&nbsp&nbsp&nbspwhois查询</a>	  
				 	</h5>

				 	<h5 class="post-subtitle">     
				 		<a href="http://www.bejson.com/httputil/queryip/" target="_blank">&nbsp&nbsp&nbsp&nbspIP位置查询</a>	  
				 	</h5>

				 	<h5 class="post-subtitle">     
				 		<a href="http://www.webscan.cc/" target="_blank">&nbsp&nbsp&nbsp&nbspIP反查询、C段查询</a>	  
				 	</h5>

				 	<h5 class="post-subtitle">     
				 		<a href="http://tool.chinaz.com/dns" target="_blank">&nbsp&nbsp&nbsp&nbspDNS查询</a>	  
				 	</h5>

				 	<h5 class="post-subtitle">     
				 		<a href="http://www.scanip.cn/index" target="_blank">&nbsp&nbsp&nbsp&nbspNmap在线扫描</a>	  
				 	</h5>

				 	<h5 class="post-subtitle">     
				 		<a href="https://asm.ca.com/en/ping.php" target="_blank">&nbsp&nbsp&nbsp&nbsp国外多地区Ping</a>	  
				 	</h5>
				 	<h5 class="post-subtitle">     
				 		<a href="https://pentest-tools.com/information-gathering/google-hacking" target="_blank">&nbsp&nbsp&nbsp&nbspGoogle语法</a>	  
				 	</h5>
				 	<h5 class="post-subtitle">     
				 		<a href="https://dnsdumpster.com/" target="_blank">&nbsp&nbsp&nbsp&nbspDNS查询</a>	  
				 	</h5>
				 	<h5 class="post-subtitle">     
				 		<a href="http://ping.chinaz.com/" target="_blank">&nbsp&nbsp&nbsp&nbsp国内多地区Ping</a>	  
				 	</h5>
				 	<h5 class="post-subtitle">     
				 		<a href="http://tool.chinaz.com/nslookup/" target="_blank">&nbsp&nbsp&nbsp&nbspnslookup查询</a>	  
				 	</h5>
				 	<h5 class="post-subtitle">     
				 		<a href="http://www.crimeflare.com:82/cfs.html#box" target="_blank">&nbsp&nbsp&nbsp&nbsp查真实IP</a>	  
				 	</h5>
				 	<h5 class="post-subtitle">     
				 		<a href="https://toolbar.netcraft.com/site_report?url=fqz.space" target="_blank">&nbsp&nbsp&nbsp&nbspDNS解析记录</a>	  
				 	</h5>
				 	<h5 class="post-subtitle">     
				 		<a href="https://viewdns.info/" target="_blank">&nbsp&nbsp&nbsp&nbspDNS信息查询</a>	  
				 	</h5>
				 	

				<span class="fa fa-tag listing-seperator" id="{{ tag[0] }}">
                    <span class="tag-text">编码解码</span>
                </span>
				 	<h5 class="post-subtitle">     
				 		<a href="http://tool.chinaz.com/tools/urlencode.aspx" target="_blank">&nbsp&nbsp&nbsp&nbspURL编码</a>	  
				 	</h5>
				 	<h5 class="post-subtitle">     
				 		<a href="https://www.toolmao.com/xsstranser" target="_blank">&nbsp&nbsp&nbsp&nbsp工具猫XSS转换</a>	  
				 	</h5>
				 	<h5 class="post-subtitle">     
				 		<a href="http://xssor.io/" target="_blank">&nbsp&nbsp&nbsp&nbsp强大XSS转换</a>	  
				 	</h5>
				 	<h5 class="post-subtitle">     
				 		<a href="https://evilcos.me/lab/xssor/" target="_blank">&nbsp&nbsp&nbsp&nbsp强大XSS转换2</a>	  
				 	</h5>
				 	<h5 class="post-subtitle">     
				 		<a href="http://www.ab126.com/goju/1711.html" target="_blank">&nbsp&nbsp&nbsp&nbspASCII 在线转换器</a>	  
				 	</h5>
				 		
				 		
				<span class="fa fa-tag listing-seperator" id="{{ tag[0] }}">
                    <span class="tag-text">加密解密</span>
                </span>
				 	<h5 class="post-subtitle">     
				 		<a href="http://tool.oschina.net/encrypt" target="_blank">&nbsp&nbsp&nbsp&nbsp常用加密解密</a>	  
				 	</h5>
				 	<h5 class="post-subtitle">     
				 		<a href="https://cmd5.com/" target="_blank">&nbsp&nbsp&nbsp&nbspMD5解密</a>	  
				 	</h5>
				 	<h5 class="post-subtitle">     
				 		<a href="http://base64.us/" target="_blank">&nbsp&nbsp&nbsp&nbspBase64</a>	  
				 	</h5>
				 		


				<span class="fa fa-tag listing-seperator" id="{{ tag[0] }}">
                    <span class="tag-text">其他</span>
                </span>
				 	<h5 class="post-subtitle">     
				 		<a href="https://www.bejson.com/convert/ox2str/" target="_blank">&nbsp&nbsp&nbsp&nbspbejson工具平台集合</a>	  
				 	</h5>
				 	<h5 class="post-subtitle">     
				 		<a href="http://tool.nmask.cn/index/" target="_blank">&nbsp&nbsp&nbsp&nbspNmask工具平台集合</a>	
				 	</h5>
				 	<h5 class="post-subtitle">     
				 		<a href="https://tool.lu/" target="_blank">&nbsp&nbsp&nbsp&nbsp在线工具平台集合</a>	  
				 	</h5>
				 	<h5 class="post-subtitle">     
				 		<a href="http://tools.bugscaner.com/" target="_blank">&nbsp&nbsp&nbsp&nbspBugScanner工具箱</a>	
				 	</h5>
				 	<h5 class="post-subtitle">     
				 		<a href="https://smallpdf.com/cn" target="_blank">&nbsp&nbsp&nbsp&nbspPDF->Word等</a>	  
				 	</h5>
				 	<h5 class="post-subtitle">     
				 		<a href="http://www.hi-ourlife.com/caimima/#" target="_blank">&nbsp&nbsp&nbsp&nbsp在线生成密码</a>	  
				 	</h5>
				 	
				 	<h5 class="post-subtitle">     
				 		<a href="https://send.firefox.com/" target="_blank">&nbsp&nbsp&nbsp&nbsp临时网盘</a>	
				 	</h5>
				 	<h5 class="post-subtitle">     
				 		<a href="http://0day.websaas.com.cn/" target="_blank">&nbsp&nbsp&nbsp&nbsp重大漏洞检测</a>	
				 	</h5>

				 		
				 		
				</div>
				<hr>
			</div>

		</div>
	</div>
</div>


